<h1>Income</h1>
<form>
	<input type="text" class="income" id="name OfSource"/>
	<input type="text" class="income" id="name OfSource"/>
	<select class="income" id="frequency">
		<option value="fweek">weekly</option>
		<option value="fbiweek">bi-weekly</option>
		<option value="fmonth">monthly</option>
		<option value="fsalary">salary</option>
	</select>
	 <button type="submit" class="salary">Add</button>
</form>
<h1>Expenses</h1>
<form>
	<input type="text" class="expense" id="name OfCharge"/>
	<select class="income" id="frequency">
		<option value="fweek">weekly</option>
		<option value="fbiweek">bi-weekly</option>
		<option value="fmonth">monthly</option>
		<option value="fsalary">quarterly</option>
		<option value="fsalary">bi-anually</option>
		<option value="fsalary">anually</option>
	</select>
	 <button type="submit" class="salary">Add</button>
</form>